<!-- Diamond Guide -->
<div class="modal fade" id="diamondguide" tabindex="-1" role="dialog" aria-labelledby="diamondguide" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" id="diamondguide">
                <h5 class="modal-title text-dark" id="diamondguide">Diamond Guide</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <h2 class="modal-head text-dark text-center">Diamond Buying Guide</h2>
            <div class="modal-body text-dark modal-dialogue modal-dialog-center text-center">
                <p>We know you’re here because you only want the best and we would love to help you find the perfect diamond for you. We also know that buying diamonds can be a little overwhelming, but that doesn’t mean that you should ever settle or stress! So just sit back with a cup of coffee and let us walk you through everything you need to know before you buy that sparking diamond! </p>
            </div>
            <div class="modal-body modal-content text-dark">
                <div class="container-fluid">
                    <div class="row gx-2">
                        <div class="col-md-8">
                        </div>
                    </div>

                    <h2 class="text-center">A Diamond's Depth</h2>
                    <p>Why is a diamond's depth so important, and how is it determined? <strong>Diamond depth</strong> is the height of a diamond in millimeters measured from its <strong>table</strong> (top) to its <strong>culet</strong> (bottom). The depth percentage measures the ratio of a diamonds depth to its total width. Depth can significantly impact the quality of a diamond's cut and the amount of light it reflects.</p>

                    <div class="d-flex justify-content-center modal-body">
                        <img src="https://www.brilliance.com/sites/default/files/section-styles/07/diamonds-depth/34.jpg" class="rounded img-fluid" alt="">
                    </div>
                    <h2 class="modal-head text-dark">The Four C's</h2>
                    <div class="modal-body modal-dialogue-center text-center">
                        <div class="card mb-3" style="max-width: 1000px;">
                            <div class="row g-0 text-center">
                                <div class="col-md-4">
                                    <img src="https://source.unsplash.com/500x500/?diamond,carat,diamond jewellery" class="img-fluid" alt=" ">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Carat</h5>
                                        <p class="card-text">A carat is the metric unit used to measure a diamond’s weight. One carat equals 200 milligrams, and each carat is divided into hundredths called points.Two diamonds of equal carat will have different prices, depending on the other 3 Cs you go with.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body modal-dialogue-center text-center">
                        <div class="card mb-3" style="max-width: 1000px;">
                            <div class="row g-0 text-center">
                                <div class="col-md-4">
                                    <img src="https://source.unsplash.com/500x500/?clarity,diamond,purity" class="img-fluid" alt=" ">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Clarity</h5>
                                        <p class="card-text">Clarity is the measure of included features of a diamond.When light passes through a diamond, it bounces back, making the diamond sparkle! Some diamonds have imperfections in the form of spots and blemishes. The more the imperfections, the more difficult it is for light to pass through, thereby reducing the sparkle. If you’re lost, here’s all you need to remember: Lesser imperfection and inclusions = Better clarity</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body modal-dialogue-center text-center">
                        <div class="card mb-3" style="max-width: 1000px;">
                            <div class="row g-0 text-center">
                                <div class="col-md-4">
                                    <img src="https://source.unsplash.com/500x500/?jewellery,diamond,diamond cut" class="img-fluid" alt=" ">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Cut</h5>
                                        <p class="card-text">Cut grade is an assessment of a diamond’s Proportions and Finish.It's basically what determines the proportion, symmetry and polish of a diamond. The right cut will enhance the sparke and the scintillation of the diamond. The better the cut, the more likely your diamond is to sparkle bright and look gorgeous!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body modal-dialogue-center text-center">
                        <div class="card mb-3" style="max-width: 1000px;">
                            <div class="row g-0 text-center">
                                <div class="col-md-4">
                                    <img src="https://source.unsplash.com/500x500/?jewellery,diamond" class="img-fluid" alt=" ">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Colour</h5>
                                        <p class="card-text">Truly colourless diamonds are very rare. A diamond’s colour grade is assessed by comparing it with master diamonds of known colour grades. the colour difference in diamonds within a colour family is quite subtle to an untrained eye. Nevertheless, they do create a difference in the price and quality of the diamond. Bottom line is, colorless diamonds are the most precious! </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Ye part php me nahi chalta-->
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <h2 class="card-title">Detail Info</h2>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="Capella_check.pdf" class="btn btn-primary">Download PDF</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Jewellery Guide -->
<div class="modal fade" id="jewelleryguide" tabindex="-1" role="dialog" aria-labelledby="jewelleryguide" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" id="jewelleryguide">
                <h5 class="modal-title text-dark text-center" id="jewelleryguide">Jewellery Guide</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <h2 class="modal-head text-dark text-center">Jewellery Buying Guide</h2>
            <div class="modal-body text-dark">
                <p>Jewellery always lets you accessorise with confidence and express your style. There are various categories of jewellery made with different types of metals that have unique personalities of their own, and we bet we can find something that best suits yours.</p>
                <div class="card">
                    <div class="card-header text-start">
                        <h2>Rings</h2>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <h2>
                                <p>"Some knots are meant to be tied forever"</p>
                            </h2>
                            <p>The ring is an emblem of companionship through time, a symbol of devotion and an agreement between parties. The tradition and symbolism of the ring is as strong today as it has ever been. A circle has no beginning or end and is therefore a symbol of infinity. It is endless, eternal, just the way commitment should be.</p>
                            <h4>
                                <p class="text-center">Styles of Rings</p>
                                <p class="text-start"> Shank Styles
                            </h4>
                            </p>
                            <p class="text-start"> &#9672; Traditional &#9672; Euro-Style &#9672; Straight &#9672; Tapered &#9672; Reverse Tapered</p>

                            <p class="text-start"> &#9672; Pinched &#9672; Flair &#9672; Bypass &#9672; Split &#9672; Freedom &#9672; Cathedral</p>
                            <img src="https://source.unsplash.com/1920x700/?jewellery,diamond,gemstone" class=" rounded img-fluid" alt=" ">
                            <div style="text-align: center;"><br></div>
                            <h4>
                                <p class="text-start">Styles</p>
                            </h4>
                            <p class="text-start"> &#9672; Fashion &#9672; Halo &#9672; 3-Stone &#9672; Promise &#9672; Semi-Mount</p>
                            <p class="text-start"> &#9672; Award/Signet &#9672; Engagement &#9672; Solitaire &#9672; Bridal Set &#9672; Wedding Band &#9672; </p>
                            <p class="text-start"> &#9672; Anniversary Band &#9672; Eternity Band </p>
                            <img src="https://source.unsplash.com/1920x700/?jewellery,diamond,gemstone" class=" rounded img-fluid" alt=" ">
                        </blockquote>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header text-start">
                        <h2>Earrings</h2>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <h2>
                                <p>"A smile is the prettiest thing you can wear. Or maybe, earrings are"</p>
                            </h2>
                            <p>Through the years among women, earrings are a symbol of womanhood and a sign of identification. Women are known to wear them since ancient times. The earlobe is associated with financial stability and social status.</p>

                            <h4>
                                <p class="text-start">Styles</p>
                            </h4>
                            <p class="text-start"> &#9672; Chandelier &#9672; Hoops &#9672; Hinged/Huggie &#9672; Ear Trim </p>
                            <img src="https://source.unsplash.com/1920x700/?jewellery,diamond,gemstone" class=" rounded img-fluid" alt=" ">
                        </blockquote>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header text-start">
                        <h2>Necklaces</h2>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <h2>
                                <p>"A statement necklace glams up any outfit without feeling like too much"</p>
                            </h2>
                            <p>Necklaces may have been one of the earliest types of adornment worn by humans. They often serve ceremonial, religious, magical, or funerary purposes and are also used as symbols of wealth and status, given that they are commonly made of precious metals and stones.</p>

                            <h4>
                                <p class="text-start">Styles</p>
                            </h4>
                            <p class="text-start"> &#9672; Riviera &#9672; Chain &#9672; Pendant &#9672; Station &#9672; Lariat &#9672; Collar &#9672; Choker</p>
                            <img src="https://source.unsplash.com/1920x700/?jewellery,diamond,gemstone" class=" rounded img-fluid" alt=" ">

                            <h4>
                                <p class="text-start">Bail Styles</p>
                            </h4>
                            <p class="text-start"> &#9672; Standard &#9672; Rabbit Ear &#9672; Decorative</p>
                            <h4>
                                <p class="text-start">Pendant Styles</p>
                            </h4>
                            <p class="text-start"> &#9672; With Bail &#9672; Solitaire &#9672; Slide &#9672; Hidden Bail &#9672; Locket &#9672; Roundel</p>

                            <img src="https://source.unsplash.com/1920x700/?jewellery,diamond,gemstone" class=" rounded img-fluid" alt=" ">
                        </blockquote>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header text-start">
                        <h2>Bracelets</h2>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <h2>
                                <p>"We're just as charming as our bracelets"</p>
                            </h2>
                            <p>A bracelet is best known as a symbol of a relationship to someone. Friendship bracelets are very in trend, especially with teens, for it is said that it seals and secures their relationship and bond as friends.</p>
                            <h4>
                                <p class="text-start">Styles</p>
                            </h4>
                            <p class="text-start"> &#9672; Line/Tennis &#9672; Link &#9672; Cuff &#9672; Bangle </p>
                            <img src="https://source.unsplash.com/1920x700/?jewellery,diamond,gemstone" class=" rounded img-fluid" alt=" ">
                        </blockquote>
                    </div>
                </div>
                <!--Ye part php me nahi chalta-->
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <h2 class="card-title">Detail Info</h2>
                        <p class="card-text">For detailed information please download the pdf.</p>
                        <a href="Capella_check.pdf" class="btn btn-primary">Download PDF</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Design Guide-->
<div class="modal fade" id="designguide" tabindex="-1" role="dialog" aria-labelledby="designguide" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" id="designguide">
                <h5 class="modal-title text-dark text-center" id="designguide">Design Guide</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <h2 class="modal-head text-dark text-center">You Design, We Create</h2>
            <div class="modal-body text-dark modal-dialogue modal-dialog-center text-center">
                <p>Here at Capella we do things differently. As our motto says <b>'You Design, We Create'</b>, we at Capella take your design submission of jewellery and make the exact same beautiful jewellery designed by you.</p>
                <h3>
                    <p>How can you submit your designs of jewellery</p>
                </h3>
                <div class=" text-start card mb-3" style="max-width: 740px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://source.unsplash.com/500x500/?jewellery,diamond,gemstone" class="img-fluid" alt=" ">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Sketches(On paper or digital image)</h5>
                                <p class="card-text">Click a picture of your drawn sketch of jewellery or submit us your digital image on our website.Sketches and images can be coloured as well as black and white.You can upload in the form of pdf.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class=" text-start card mb-3" style="max-width: 740px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://source.unsplash.com/500x500/?jewellery,diamond,gemstone" class="img-fluid" alt=" ">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Select from Components Catalogue.</h5>
                                <p class="card-text">If you are unable to send us sketch or images no worries at all we have got you covered! You can select the components for your jewellery from our "Component Catalogue"</p>
                                <p>For example: Earrings<br>If you are a nature lover so you can select a cute shape of flower also add one more component like a leaf design for your beautiful earring furthermore you can select which diamond, gemstone, metal you would like to have in your earring.</br>
                                <p>For more queries you can contact us directly.<br>Link to our Component Catalogue</br></p>
                                <tr>
                                    <th scope="row"><button type="button" class="btn btn-primary my-0.1" data-bs-toggle="modal" data-bs-target="#designguide">Components Catalogue</button></th>

                            </div>
                        </div>
                    </div>
                    <div class=" text-start card mb-3" style="max-width: 740px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://source.unsplash.com/500x500/?jewellery,diamond,gemstone" class="img-fluid" alt=" ">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Catalogue</h5>
                                    <p class="card-text">We also have a catalogue exclusively prepared for you. If you don't want to or are unable to submit design, no worries, you can directly select jewellery from our catalogue and submit it on our website. Do checkout our catalogue</p>
                                    <tr>
                                        <th scope="row"><button type="button" class="btn btn-primary my-0.1" data-bs-toggle="modal" data-bs-target="#designguide">Catalogue</button></th>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" text-start card mb-3" style="max-width: 740px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://source.unsplash.com/500x500/?jewellery,diamond,gemstone" class="img-fluid" alt=" ">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Selection(Everything you want)</h5>
                                    <p class="card-text">Here at Capella you have the freedom to select each and every design, component by yourself. You can submit amount of metal to be used, the gemstones or diamonds to be used, their amount, settings and much more customization options available.</p>
                                    <p>For example: Bangles<br>They can be made in 20gm of gold with the design of your choice.</br>
                                    <p>For further queries</p>
                                    <tr>
                                        <th scope="row"><button type="button" class="btn btn-primary my-0.1" data-bs-toggle="modal" data-bs-target="#designguide">Contact Us</button></th>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>