{% extends '../base.html' %}

{% block title %}Add Address{% endblock title %}

{% block body %}

{% load static %}

{% block navbar2 %}{% endblock navbar2 %}

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" class="mx-4" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="link-info" href="{% url 'your_account' %}">Your Account</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a class="link-info" href="{% url 'your_addresses' %}">Your Address</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add Address</li>
  </ol>
</nav>

<div class="container-fluid">
    <!-- alerts -->
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show shadow-sm" role="alert">
        <h5><svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="{{ message.tags }}"><use xlink:href="#{{ message.tags }}"/></svg>{{message}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>

<div class="container my-3">
    <div class="row">
        <div class="col-md-5 mx-auto my-5">
            <div class="logo mb-3">
                <div class="col-md-12 text-center">
                    <h1 style="font-family:'Great Vibes';">Add your address</h>
                </div>
            </div>
            <form action="" method="POST" name="add_address" class="row g-3">
            {% csrf_token %}
                <div class="col-12">
                    <label for="inputFlat" class="form-label">
                        <h6>Flat, House no., Building, Company, Apartment</h6>
                    </label>
                    <input type="text" class="form-control" id="address_flat" name="address_flat" placeholder="Apartment, studio, or floor" required>
                </div>
                <div class="col-12">
                    <label for="inputArea" class="form-label">
                        <h6>Area, Colony, Street, Sector, Village</h6>
                    </label>
                    <input type="text" class="form-control" id="address_area" name="address_area" required>
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">
                        <h6>Landmark</h6>
                    </label>
                    <input type="text" class="form-control" id="address_landmark" name="address_landmark" placeholder="Petrol Pump, College">
                </div>
                <div class="col-12">
                    <label for="inputCity" class="form-label">
                        <h6>City/Town</h6>
                    </label>
                    <input type="text" class="form-control" id="address_city" name="address_city" required>
                </div>
                <div class="col-md-8">
                    <label for="inputState" class="form-label">
                        <h6>State/Province/Region</h6>
                    </label>
                    <select id="address_state" name="address_state" class="form-select" required>
                        <option selected>Choose...</option>
                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                        <option value="Assam">Assam</option>
                        <option value="Bihar">Bihar</option>
                        <option value="Chandigarh">Chandigarh</option>
                        <option value="Chhattisgarh">Chhattisgarh</option>
                        <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                        <option value="Daman and Diu">Daman and Diu</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Lakshadweep">Lakshadweep</option>
                        <option value="Puducherry">Puducherry</option>
                        <option value="Goa">Goa</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Haryana">Haryana</option>
                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                        <option value="Jharkhand">Jharkhand</option>
                        <option value="Karnataka">Karnataka</option>
                        <option value="Kerala">Kerala</option>
                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Manipur">Manipur</option>
                        <option value="Meghalaya">Meghalaya</option>
                        <option value="Mizoram">Mizoram</option>
                        <option value="Nagaland">Nagaland</option>
                        <option value="Odisha">Odisha</option>
                        <option value="Punjab">Punjab</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Sikkim">Sikkim</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                        <option value="Telangana">Telangana</option>
                        <option value="Tripura">Tripura</option>
                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                        <option value="Uttarakhand">Uttarakhand</option>
                        <option value="West Bengal">West Bengal</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="inputZip" class="form-label">
                        <h6>PIN</h6>
                    </label>
                    <input type="text" class="form-control" id="address_zip" name="address_zip" placeholder="6 digit PIN code" required>
                </div>
                <div class="col-12">
                <h6>Address Type</h6>
                    <div class="form-check">
                        <input type="radio" class="mx-1" id="address_type_home" name="address_type" value="home" required>
                        <label for="home">Home</label>
                        <input type="radio" class="mx-1" id="address_type_office" name="address_type" value="office" required>
                        <label for="office">Office</label>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-dark btn-block tx-tfm shadow">Add Address</button> 
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'pages/js/disable_right_click.js' %}"></script>
<script src="{% static 'pages/js/prevert_going_back.js' %}"></script>

{% endblock body %}