{% extends '../base.html' %}

{% block title %}Reset Password{% endblock title %}

{% block navbar %}{% endblock navbar %}
{% block navbar2 %}{% endblock navbar2 %}

{% block body %}

{% load static %}

<div class="container-fluid">
    <!-- alerts -->
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show shadow-sm" role="alert">
        <h5><svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="{{ message.tags }}"><use xlink:href="#{{ message.tags }}"/></svg>{{message}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>

<div class="container-fluid py-5">
    <div class="row">
        <div class="col-md-5 mx-auto my-auto">
            <h2>Reset Password</h2>

            <form action="" method="POST" name="resetpassword">
            {% csrf_token %}
                <div class="mb-3 text-left">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                    <div id="emailHelp" class="form-text">Please enter valid email.</div>
                </div>
                <button type="submit" class="btn btn-dark btn-block tx-tfm text-center">Submit</button>
                <div class="form group col-12 text-center">
                    Back to Home <a href="" class="">Home</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'pages/js/disable_right_click.js' %}"></script>
<script src="{% static 'pages/js/prevert_going_back.js' %}"></script>

{% endblock body %}

{% block footer %} {% include '../pages/components/footer2.html' %} {% endblock footer %}