{% extends '../base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

{% load static %}

<link type="text/css" href="{% static 'pages/css/home.css' %}" rel="stylesheet">


<!-- alerts -->
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <p>{{message}}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<div class="container-fluid bg-light">
    <div id="carouselExampleCaptions" class="carousel slide my-2" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active ">
                <img src="https://source.unsplash.com/1600x500/?diamond" class="d-block w-100 img-fluid" alt="...">
                <div class="carousel-caption d-md-block c3 mx-4">
                    <h5 class="text-center ms-4">You Design, We Create</h5>
                    <div class="text-center">
                        <a href="{% url 'place_order' %}" class="btn btn-light btn-rounded text-center">Place Order</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://source.unsplash.com/1600x500/?rings" class="d-block w-100 img-fluid" alt="...">
                <div class="carousel-caption d-md-block c3 mx-4">
                    <h5 class="text-center ms-4">You Design, We Create</h5>
                    <div class="text-center">
                        <a href="placeOrder.php" class="btn btn-light btn-rounded text-center">Place Order</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://source.unsplash.com/1600x500/?jewellery" class="d-block w-100 img-fluid" alt="...">
                <div class="carousel-caption d-md-block c3 mx-4">
                    <h5 class="text-center ms-4">You Design, We Create</h5>
                    <div class="text-center">
                        <a href="placeOrder.php" class="btn btn-light btn-rounded text-center">Place Order</a>
                        <!-- <button type="button" class="btn btn-light btn-rounded">Place Order</a> -->
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="card-body text-center">
        <blockquote class="blockquote mb-0" style="font-family: 'Great Vibes', cursive;">
            <h3>"Jewelry is a very personal thing it should tell a story about the person who's wearing it "</h3>
            <div style="text-align: center;"><br></div>
            <footer class="blockquote-footer" style="font-family: 'Baloo Chettan 2', cursive; ">Garance Dare</footer>
        </blockquote>
    </div>
    <div class="card text-center container-md my-3" style="font-family: 'Baloo Chettan 2', cursive;">
        <div class="card-header">
            <h2>Order Now!</h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">Only few steps away</h5>
            <a href="placeOrder.php" class="btn btn-primary">Place Order</a>
        </div>
    </div>
    <!--different section-->

    <section class="top-hero-section pt-4 pb-5 cid">
        <div class="container">
            <div class="container mb-5">
                <div class="media-container-row">
                    <div class="col-12 align-center">
                        <h3 class="text-center">FINALLY HERE IS THE TEXT</h3>
                    </div>
                </div>
            </div>
        </div>

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <!-- <img src="https://source.unsplash.com/1600x500/?gradient" class="d-block w-100" alt="..."> -->
                    <div class="row align-items-end maintxt">
                        <div class="d-flex justify-content-around">
                            <h1><img src="https://source.unsplash.com/100x100/?apple"></h1>
                            <h1><img src="https://source.unsplash.com/100x100/?mango"></h1>
                            <h1><img src="https://source.unsplash.com/100x100/?strawberry"></h1>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <!-- <img src="https://source.unsplash.com/1600x500/?gradient" class="d-block w-100" alt="..."> -->
                    <div class="row align-items-end maintxt">
                        <div class="d-flex justify-content-around">
                            <h1><img src="https://source.unsplash.com/100x100/?mango"></h1>
                            <h1><img src="https://source.unsplash.com/100x100/?strawberry"></h1>
                            <h1><img src="https://source.unsplash.com/100x100/?apple"></h1>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <!-- <img src="https://source.unsplash.com/1600x500/?gradient" class="d-block w-100" alt="..."> -->
                    <div class="row align-items-end maintxt">
                        <div class="d-flex justify-content-around">
                            <h1><img src="https://source.unsplash.com/100x100/?strawberry"></h1>
                            <h1><img src="https://source.unsplash.com/100x100/?apple"></h1>
                            <h1><img src="https://source.unsplash.com/100x100/?mango"></h1>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <!-- image gallery cards-->
    <div class="row pl-3 pt-3 pr-3">
        <div class="col-lg-3 col-6 mb-auto my-3 mb-lg-0">
            <div class="card text-white px-2 py-2">
                <img src="https://source.unsplash.com/400x700/?necklace,jewellery"
                    class=" w-100 rounded mb-auto img-fluid" alt="...">
                <div class="card-img-overlay">
                    <h3 class="card-title pt-auto">Card Title</h3>
                    <p class="card-text d-flex align-items-end">This is a wider card with supporting text</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6 mb-auto my-3 mb-lg-0">
            <div class="card text-white px-2 py-2">
                <img src="https://source.unsplash.com/400x700/?necklace,jewellery"
                    class=" w-100 rounded mb-auto img-fluid" alt="...">
                <div class="card-img-overlay">
                    <h3 class="card-title pt-auto">Card Title</h3>
                    <p class="card-text d-flex align-items-end">This is a wider card with supporting text</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6 mb-auto my-3 mb-lg-0">
            <div class="card text-white px-2 py-2">
                <img src="https://source.unsplash.com/400x700/?necklace,jewellery"
                    class=" w-100 rounded mb-auto img-fluid" alt="...">
                <div class="card-img-overlay">
                    <h3 class="card-title pt-auto">Card Title</h3>
                    <p class="card-text d-flex align-items-end">This is a wider card with supporting text</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-6 mb-auto my-3 mb-lg-0">
            <div class="card text-white px-2 py-2">
                <img src="https://source.unsplash.com/400x700/?necklace,jewellery"
                    class=" w-100 rounded mb-auto img-fluid" alt="...">
                <div class="card-img-overlay">
                    <h3 class="card-title pt-auto">Card Title</h3>
                    <p class="card-text d-flex align-items-end">This is a wider card with supporting text</p>
                </div>
            </div>
        </div>
        <div style="text-align: center;"><br></div>
        <!--VIDEO-->
        <section id="vid">
            <div class="container my-4">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-dark py-2">
                        <h2 class="mb-3" style="font-family: 'Baloo Chettan 2', cursive;">Buying Guide</h2>
                        <p style="font-family: 'Baloo Chettan 2', cursive;">According to our survey many people told us
                            one thing that "the jewellery looks good but
                            the design is not how I wanted".
                            And here we came up with our jewellery brand <b>Capella</b>.Our purpose is serving our
                            people with beautiful
                            jewellery which is designed by our customers itself as well as to provide our service
                            worldwide.</p>
                        <a class="btn btn-info btn-lg mt-3" href="GuideModal.php" role="button">More Info</a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <iframe style="border: 3px solid #000000;" width="100%" height="100%"
                            src="https://www.youtube.com/embed/-zwbaUOujac?autoplay=0&showinfo=0&controls=0&modestbranding=1&autohide=1"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>
    </div>
<section class="top-hero-section pt-4 pb-5">
        <div class="container">
            <div class="container mb-5">
                <div class="media-container-row">
                    <div class="col-12 align-center">
                        <h3 class="text-center styll">FINALLY HERE IS THE TEXT</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-around">
            <div class="col-sm-4 pt-0 pb-0 pl-5 pr-5 mb-5" style="width:25rem">
                <figure class="textover">
                    <img src="https://source.unsplash.com/400x500/?jewellery,diamond,gemstone" style="border-radius: 25px"alt="">
                    <figcaption>Gold Hallmark</figcaption>
                </figure>

            </div>
            <div class="col-sm-4 pt-0 pb-0 pl-5 pr-5 mb-5" style="width:25rem">
                <figure class="textover">
                    <img src="https://source.unsplash.com/400x500/?jewellery,diamond,gemstone" style="border-radius: 25px"alt="">
                    <figcaption>Silver Hallmark</figcaption>
                </figure>

            </div>
            <div class="col-sm-4 pt-0 pb-0 pl-5 pr-5 mb-5" style="width:25rem">
                <figure class="textover">
                    <img src="https://source.unsplash.com/400x500/?jewellery,diamond,gemstone" style="border-radius: 25px"alt="">
                    <figcaption>Diamond Certification</figcaption>
                </figure>

            </div>
            
        </div>
    </section>
</div>


<script src="{% static 'pages/js/disable_right_click.js' %}"></script>

{% endblock body %}