{% extends '../base.html' %}

{% block title %}Icon{% endblock title %}

{% block body %}

{% block navbar2 %}{% endblock navbar2 %}

<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto my-5">
            <div id="first">
                <div class="myform form my-5">
                    <div class="logo mb-3">
                        <div class="text-center">
                            <h1 style="font-family:'Great Vibes';">Capella</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}