{% extends '../base.html' %}

{% block title %}Bracelets{% endblock title %}

{% block body %}

{% block navbar %}{% endblock navbar %}
{% block navbar2 %}{% endblock navbar2 %}

{% load static %}
<link rel="stylesheet" href="{% static 'pages/css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'pages/css/footer.css' %}">
<link rel="stylesheet" href="{% static 'pages/css/style.css' %}">
<link rel="stylesheet" href="{% static 'pages/css/cardhover.css' %}">

{% include 'pages/components/navbar3.html' %}

<nav aria-label="iPad family of products" id="chapternav" class="chapternav shadow-sm" data-analytics-region="family browser">
    <div class="chapternav-wrapper">
        <ul class="chapternav-items">
            <li class="chapternav-item chapternav-item-ipad-pro">
                <img src="https://source.unsplash.com/50x50/?jewellery,diamond,gemstone">
                <a class="chapternav-link" href="/in/ipad-pro/" data-analytics-title="ipad pro">
                    <figure class="chapternav-icon"></figure>
                    <span class="chapternav-label">Riviera</span>

                </a>
            </li>
            <li class="chapternav-item chapternav-item-ipad-air">
                <img src="https://source.unsplash.com/50x50/?jewellery,diamond,gemstone">
                <a class="chapternav-link" href="/in/ipad-air/" data-analytics-title="ipad air">
                    <figure class="chapternav-icon"></figure>
                    <span class="chapternav-label">Chain</span>
                </a>
            </li>
            <li class="chapternav-item chapternav-item-ipad">
                <img src="https://source.unsplash.com/50x50/?jewellery,diamond,gemstone">
                <a class="chapternav-link" href="/in/ipad-10.2/" data-analytics-title="ipad">
                    <figure class="chapternav-icon"></figure>
                    <span class="chapternav-label">Pendant</span>
                </a>
            </li>
            <li class="chapternav-item chapternav-item-ipad-mini">
                <img src="https://source.unsplash.com/50x50/?jewellery,diamond,gemstone">
                <a class="chapternav-link" href="/in/ipad-mini/" data-analytics-title="ipad mini">
                    <figure class="chapternav-icon"></figure>
                    <span class="chapternav-label">Station</span>
                </a>
            </li>
            <li class="chapternav-item chapternav-item-compare">
                <img src="https://source.unsplash.com/50x50/?jewellery,diamond,gemstone">
                <a aria-label="Compare iPad models" class="chapternav-link" href="/in/ipad/compare/" data-analytics-title="compare">
                    <figure class="chapternav-icon"></figure>
                    <span class="chapternav-label">Lariat</span>
                </a>
            </li>
            <li class="chapternav-item chapternav-item-apple-pencil">
                <img src="https://source.unsplash.com/50x50/?jewellery,diamond,gemstone">
                <a class="chapternav-link" href="/in/apple-pencil/" data-analytics-title="apple pencil">
                    <figure class="chapternav-icon"></figure>
                    <span class="chapternav-label">Collar</span>
                </a>
            </li>
            <li class="chapternav-item chapternav-item-keyboard">
                <img src="https://source.unsplash.com/50x50/?jewellery,diamond,gemstone">
                <a class="chapternav-link" href="/in/ipad-keyboards/" data-analytics-title="keyboards">
                    <figure class="chapternav-icon"></figure>
                    <span class="chapternav-label">Choker</span>
                    <!-- <span class="chapternav-new">New</span> -->
                </a>
            </li>
        </ul>
        <div class="chapternav-paddles">
            <button class="chapternav-paddle chapternav-paddle-left" aria-hidden="true" disabled></button>
            <button class="chapternav-paddle chapternav-paddle-right" aria-hidden="true" disabled></button>
        </div>
    </div>
</nav>

<div class="comtainer-fluid">
    <div style="text-align: center;"><br></div>
    <section class="text-center text-white call-to-action" style="background: url('https://source.unsplash.com/1600x500/?jewellery,diamond,gemstone');background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Custom Neckwear</h1>
                    <h2>"A statement necklace glams up any outfit without feeling like too much"</h2>
                </div>
            </div>
        </div>

    </section>
    <div style="text-align: center;"><br></div>
    <section class="text-center bottom-down">
        <h1 class="text-center flex-grow-1 justify-content-center align-items-center heading-content">About Neckwear</h1>
        <p class="text-center flex-grow-1 justify-content-center para-content"><br>Necklaces may have been one of the earliest types of adornment worn by humans.There are various styles of neckwear available, these types are given below. Neckwear can be made from metals like gold and silver as well as designed with diamonds.
            Here at Capella you design your own neckwear as it represents yourself and is unique in its own way and we make it exactly according to your design as well as your budget.Select your components, submit your design for it and you are good to
            go.<br><br></p>
        <h1>Neckwear Styles</h1>
    </section>
    <!--Necklace section start-->
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-img"><img class="padding-content-image" src="https://source.unsplash.com/200x200/?jewellery,diamond,gemstone" alt="Riviera">
                    </div>
                    <div class="box-content">
                        <h4 class="title">Riviera</h4>
                        <p class="description">Riviera is a necklace that is comprised of gemstones of the same species that are all the same size and shape or graduate smoothly in size.They are usually designed without any ornamentation allowing the gemstones to be featured.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-img"><img class="padding-content-image" src="https://source.unsplash.com/200x200/?jewellery,diamond,gemstone" alt="chain"></div>
                    <div class="box-content">
                        <h4 class="title">Chain</h4>
                        <p class="description">Chain resembles a cable in its design.It is technically a type of necklace.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-img"><img class="padding-content-image" src="https://source.unsplash.com/200x200/?jewellery,diamond,gemstone" alt="Pendant">
                    </div>
                    <div class="box-content">
                        <h4 class="title">Pendant</h4>
                        <p class="description">Pendant is a loose-hanging piece of jewellery, generally attached by a small loop to a necklace.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-img"><img class="padding-content-image" src="https://source.unsplash.com/200x200/?jewellery,diamond,gemstone" alt="Station">
                    </div>
                    <div class="box-content">
                        <h4 class="title">Station</h4>
                        <p class="description">Station necklace is exactly how it sounds. Adornments sit along a chain in station be they gemstones, beads or even an assortement of shapes.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-img"><img class="padding-content-image" src="https://source.unsplash.com/200x200/?jewellery,diamond,gemstone" alt="Lariat"></div>
                    <div class="box-content">
                        <h4 class="title">Lariat</h4>
                        <p class="description">Lariat necklace is a long line or string of materials usually measuring between 30 to 50 inches without a clasp or closure on either end.Each end of the length is often completed with a decorative element such as a drop or tassel.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-img"><img class="padding-content-image" src="https://source.unsplash.com/200x200/?jewellery,diamond,gemstone" alt="Collar">
                    </div>
                    <div class="box-content">
                        <h4 class="title">Collar</h4>
                        <p class="description">Collar necklace is not to be confused with a choker necklace.Collar necklace sit flush against the skin and rest directly above the collar bone.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-img"><img class="padding-content-image" src="https://source.unsplash.com/200x200/?jewellery,diamond,gemstone" alt="Fashion">
                    </div>
                    <div class="box-content">
                        <h4 class="title">Choker</h4>
                        <p class="description">Choker type of necklace fit tight to the neck.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Bail section-->
    <h2 class="text-center">Bail styles</h2>
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-img"><img class="padding-content-image" src="https://source.unsplash.com/200x200/?jewellery,diamond,gemstone" alt="Standard">
                    </div>
                    <div class="box-content">
                        <h4 class="title">Standard</h4>
                        <p class="description">Standard bails have a drop ring to connect to your pendant and then the main bail loop slides onto your necklace or chain.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-img"><img class="padding-content-image" src="https://source.unsplash.com/200x200/?jewellery,diamond,gemstone" alt="Rabbit Ear"></div>
                    <div class="box-content">
                        <h4 class="title">Rabbit Ear</h4>
                        <p class="description">Rabbit Ear bails are designed according to the shape of rabbit ears consisting of two joint bail loops.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-img"><img class="padding-content-image" src="https://source.unsplash.com/200x200/?jewellery,diamond,gemstone" alt="Decorative">
                    </div>
                    <div class="box-content">
                        <h4 class="title">Decorative</h4>
                        <p class="description">Decorative bail styles consist of different shapes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Pendant section starts-->
    <div style="text-align: center;"><br></div>
    <h2 class="text-center">Pendant styles</h2>
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-img"><img class="padding-content-image" src="https://source.unsplash.com/200x200/?jewellery,diamond,gemstone" alt="withbail">
                    </div>
                    <div class="box-content">
                        <h4 class="title">With bail</h4>
                        <p class="description">Pendant which is made with a bail connected to it.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-img"><img class="padding-content-image" src="https://source.unsplash.com/200x200/?jewellery,diamond,gemstone" alt="Solitaire"></div>
                    <div class="box-content">
                        <h4 class="title">Solitaire</h4>
                        <p class="description">Solitaire pendant is a necklace with one gemstone usually diamond.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-img"><img class="padding-content-image" src="https://source.unsplash.com/200x200/?jewellery,diamond,gemstone" alt="slide">
                    </div>
                    <div class="box-content">
                        <h4 class="title">Slide</h4>
                        <p class="description">Slides can be pendants with an open center that a chain can be slid through, a tube-shaped component that is incorporated into the design or attached to the back, a couple of bars (kind of like belt loops) on the back of the piece,
                            or an extra large bail that slides over the chain.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-img"><img class="padding-content-image" src="https://source.unsplash.com/200x200/?jewellery,diamond,gemstone" alt="hiddenbail">
                    </div>
                    <div class="box-content">
                        <h4 class="title">Hidden Bail</h4>
                        <p class="description">A hidden bail is typically connected to the back of a pendant in such a way that the chain can pass through and support the pendant, but the bail cannot be seen.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-img"><img class="padding-content-image" src="https://source.unsplash.com/200x200/?jewellery,diamond,gemstone" alt="locket"></div>
                    <div class="box-content">
                        <h4 class="title">Locket</h4>
                        <p class="description">Locket are types which come in different shapes and sizes.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-img"><img class="padding-content-image" src="https://source.unsplash.com/200x200/?jewellery,diamond,gemstone" alt="roundel">
                    </div>
                    <div class="box-content">
                        <h4 class="title">Roundel</h4>
                        <p class="description">Roundel is a rounded shaped pendant style.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}