{% extends '../base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block body %}

{% load static %}

{% block navbar %}{% endblock navbar %}
{% block navbar2 %}{% endblock navbar2 %}

{% include 'dashboard/components/navbar_dashboard.html' %}
{% include 'dashboard/components/sidebar_dashboard.html' %}

<!-- alerts -->
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <p>{{message}}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<div class="container">
    <div class="row align-items-md-stretch">
      <div class="col-md-6 my-1">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h1>Total Orders: {{count_orders}}</h1>
          <div class="d-grid gap-2 col-6">
            <a href="{% url 'order_dashboard' %}" class="btn btn-outline-light" type="button">View</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 my-1">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h1>Total Customers: {{count_cust}}</h1>
          <div class="d-grid gap-2 col-6">
            <a href="{% url 'customer_dashboard' %}" class="btn btn-outline-dark" type="button">View</a>
          </div>
        </div>
      </div>
    </div>
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Custom jumbotron</h1>
        <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
        <button class="btn btn-primary btn-lg" type="button">Example button</button>
      </div>
    </div>
</div>

<script src="{% static 'base/js/jquery.js' %}"></script>

{% endblock body %}

{% block footer %}
<footer>
    <div class="container-fluid text-dark mt-4">
        <h2 class="text-center">You design, We create</h2>
        <hr class="featurette-divider">
        <p class="mt-auto text-center">
        <h1 class="text-center" style="font-family:'Great Vibes';">Capella</h1>
        </p>
    </div>
</footer>
{% endblock footer %}